<ion-view view-title="Episodes">
  <ion-content ng-init="init()">
    <ion-list>
    	<!--  href="#/app/episodes/{{endtry.id}}" -->
      <ion-item ng-repeat="entry in entries" class="item-text-wrap">
    		<div class="row">
    			<div class="col">
      			<h3>{{entry.title}}</h3>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col" ng-click="playEpisode()">
      			<button class="button button-block button-calm">Play</button>
      		</div>
      		<div class="col" ng-click="openLinkInWebView(entry.link)">
      			<button class="button button-block button-outline button-calm">More...</button>
      		</div>
      	</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
