<ion-view view-title="Live Stream">
  <ion-content>
    <h1 class="center padding-top">420Radio</h1>

    <div class="row">
    	<div class="col">

    		<p class="center">{{metadata}}</p>
    	</div>	
    </div>

    <div class="row">
    	<div class="col">
    		<button class="button button-block button-calm" ng-click="playStream()">Play</button>
    	</div>

    	<div class="col">
    		<button class="button button-block button-calm" ng-click="pauseStream()">Pause</button>
    	</div>
    </div>

    <div class="row">
    	<div class="col">
    		<a class="button button-block icon-right ion-chevron-right" href="#/app/episodes">Archives</a>
    	</div>
    </div>
  </ion-content>
</ion-view>
